.popup__form-box {
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  align-self: flex-end;
  width: 430px;
  min-height: 330px;
  border-radius: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__form-box {
    width: 282px;
    min-height: 322px;
    margin-top: -10px;
  }
}