@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');



.project-area {
  background-color: #000;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 200px 40px;
  border: solid green 1px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000;
  color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  box-sizing: border-box;
  border-bottom: solid rgba(84, 84, 84, .7) 1px;
  min-height: 74px;

}

.logo {
  max-width: 142px;
  max-height: 33px;
}