.element__button {
  margin: 0;
  background-color: transparent;
  max-width: 21px;
  max-height: 18px;
  border: 0;
  padding: 0;
  outline: none;
  margin-right: 17px;
  transition: opacity .7s ease;
}

.element__button:hover {
  opacity: .6;
  cursor: pointer;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.element__button:focus {
  background-image: url('../../../images/element-like-active.png');
  background-size: contain;
  background-position: center;
  animation: scale .4s ease 1 reverse backwards;
}

.element__button:active {
  background-image: url('../../../images/element-like-active.png');
  background-size: contain;
  background-position: center;
  opacity: .6;
  cursor: pointer;
}